@charset "UTF-8";
/*/ FONTS/*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");
/*********************                    
 *EXTRA GENERALES    *
 *********************/
.body {
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1;
  margin: 0px;
}

/*********************                    
 *ESTILOS DEL HEADER *
 *********************/
/* mobile*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #d9cf4a;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #2B8C71;
  font-family: "raleway";
  font-weight: 700;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-bottom: 0;
  color: #BA384A;
  font-family: "raleway";
  font-weight: 500;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/*tablet*/
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: #2B8C71;
    font-family: "raleway";
    font-weight: 700;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 0;
    color: #BA384A;
    font-family: "raleway";
    font-weight: 500;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
  .header-brand {
    display: flex;
    flex-direction: column;
  }
}
/*desktop*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: #2B8C71;
    font-family: "raleway";
    font-weight: 700;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 0;
    color: #BA384A;
    font-family: "raleway";
    font-weight: 500;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/*******************
*   media querys   *
*******************/
/*para títulos h1*/
/* mobile */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 46px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* desktop */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 70px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/*********************                    
 *ESTILOS DEL NAVBAR *
 *********************/
.container-fluid {
  background-image: url(../Multimedia/color12.png);
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  top: 0px;
  position: relative;
}

.navbar-collapse {
  color: #222222;
  text-decoration: none;
  font-family: "raleway";
  font-size: 30px;
  font-weight: 800;
}

/*********************                    
 *SECCIONES DEL MAIN *
 *********************/
/*/ ESTILOS DE FONDO DEL MAIN/*/
/*/comparte con CARDS/*/
.green-block {
  background: #44A66E;
  width: 100%;
  padding: 7%;
}

.green-block p {
  font-family: "raleway";
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
  color: #fff;
  line-height: 1.5;
}

/*/  comparte con CARDS/*/
.white-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 7% 20% 10% 20%;
  color: #4EBF56;
}

.white-block p {
  flex-direction: column;
  font-size: 20px;
  font-family: "Raleway";
  text-align: justify;
  color: #4EBF56;
  line-height: 1.5;
  padding-top: 15px;
}

.white-block-index img {
  padding: 30px;
  margin: 10px;
  border-radius: 5%;
}

/* h1 mobile*/
@media only screen and (max-width: 767px) {
  h1 {
    padding-top: 30px;
    font-size: 24px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* h1 tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 46px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* h1 desktop */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 70px;
    color: #D91828;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* h2 mobile*/
@media only screen and (max-width: 767px) {
  h2 {
    padding-top: 20px;
    font-size: 24px;
    color: #54abb3;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* h2 tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    padding-top: 20px;
    font-size: 46px;
    color: #54abb3;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/* h2 desktop */
@media only screen and (min-width: 1024px) {
  h2 {
    padding-top: 20px;
    font-size: 50px;
    color: #54abb3;
    font-family: "raleway";
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
}
/*/ SEZGOS /*/
/*/  sezgo dir\ /*/
.skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #44A66E 49%, #fff 50%);
}

/*/ SEZGO dir/ /*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left top, #44A66E 49%, #fff 50%);
}

/*/ este sezco es del navbar/*/
.skew-c1 {
  width: 100%;
  height: 100px;
  left: 0px;
  background: linear-gradient(to left bottom, #d9cf4a 49%, #44A66E 50%);
  margin-top: -18px;
}

/*********************                    
 * 1. INDEX          *
 *********************/
/* CONTAINER 1de 3 y 2 de 3*/
.containers-1,
.containers-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* CONTAINER 3 de 3 + CARDS */
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  padding-top: 35px;
}

.bottom-container {
  background-color: #44A66E;
}

/* CARDS */
.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  color: #2B8C71;
}

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: calc(33.33% - 20px);
  margin: 20px;
  margin-bottom: 40px;
}

.card img {
  margin: auto;
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
  height: 250px;
  padding: 10px;
}

.card h5 {
  color: #7BBF4B;
  font-family: "raleway";
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.card p {
  color: #666;
  font-family: "raleway";
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: justify;
}

.card:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*media query de cards*/
@media screen and (max-width: 767px) {
  .card {
    width: 75%;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 30%;
  }
}
/* FIN  DE INDEX*/
/*********************                    
 * 2. TOP 3          *
 *********************/
/*/ CARDS DEL TOP 3/*/
.cards-container-type2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  width: 150%;
  margin-top: 30px;
}

.card-type2 {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: calc(33.33% - 20px);
  margin: 20px;
  margin-bottom: 40px;
}

.card-type2 img {
  margin: auto;
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
  height: auto;
  padding: 10px;
}

.card-type2 h5 {
  color: #7BBF4B;
  font-family: "raleway";
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  padding: 5px;
}

.card-type2 p {
  color: #666;
  font-family: "raleway";
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  text-align: justify;
}

.card-type2:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*media query de cards top 3*/
@media screen and (max-width: 767px) {
  .cards-container-type2 {
    display: flex;
    flex-direction: column;
  }
  .card-type2 {
    width: 75%;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards-container-type2 {
    display: flex;
    flex-wrap: wrap;
  }
  .card-type2 {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .card-type2 {
    width: 30%;
  }
}
/* FIN DEL TOP3*/
/*********************                    
 * 3. GALERIA        *
 *********************/
.row {
  margin-top: 40px;
}

.image-setting {
  width: 100%;
  height: auto;
  border-radius: 8%;
  margin-bottom: 1.5rem;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: clip;
  overflow-clip-margin: content-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-setting:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*******
query de galeria
******/
@media screen and (max-width: 767px) {
  .gallery-heading {
    font-size: 1, 5rem;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery-heading {
    font-size: 2rem;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery-heading {
    font-size: 3rem;
    margin-top: auto;
  }
}
/*********************                    
 *  4. COMUNIDAD     *
 *********************/
.cards-container-type3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 150%;
  margin: 30px;
}

.card-type3 {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 20px;
  border: 30px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.card-type3 h5 {
  color: #7BBF4B;
  font-family: "raleway";
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  padding: 5px;
}

.card-type3 p {
  color: #666;
  font-family: "raleway";
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  text-align: justify;
}

.iframe-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: auto;
  height: auto;
  border-radius: 10%;
}

.card-type3:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

@media screen and (min-width: 300px) and (max-width: 920px) {
  .cards-container-type3 {
    display: flex;
    flex-wrap: wrap;
  }
  .card-type3 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .card-type3 {
    width: 50%;
  }
}
/*********************                    
 * 5. CONTACTO       *
 *********************/
/*formulario*/
.comunidad-h3-1 {
  width: 100%;
  color: #BA384A;
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -200px;
}

.form-label {
  color: #4EBFB4;
  font-family: "raleway";
  font-size: 14px;
}

.form-check-label {
  color: #4EBFB4;
  font-family: "raleway";
  font-size: 20px;
}

.form-check-label:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.btn-primary:hover {
  background-color: #4EBFB4;
}

/*parte 2 de comunidad*/
.personas-descoordenados {
  margin: 5%;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  font-family: "work sans";
  font-size: 16px;
}

.personas-descoordenados img {
  padding: 20px;
  width: 300px;
  height: auto;
  overflow-x: hidden;
  border-radius: 35%;
}

.personas-descoordenados p {
  color: #666;
  font-family: "raleway";
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  text-align: justify;
}

.personas-descoordenados a {
  text-decoration: none;
}

.personas-descoordenados:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*********************                    
 *ESTILOS DEL FOOTER *
 *********************/
.foot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../Multimedia/color12.png);
}

.foot-form p {
  color: #222222;
  font-family: "raleway";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
