/*formulario*/

.comunidad-h3-1 { 
   width: 100%;
   color: #BA384A;
   text-align:center;

}

.form-container { 
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: -200px;
   
}

.form-label {
   color:#4EBFB4;
   font-family: 'raleway';
   font-size: 14px;
   
}

.form-check-label {
   color:#4EBFB4;
   font-family: 'raleway';
   font-size: 20px;
}
.form-check-label:hover {
   filter: opacity(0.9);
   transform: scale(1.04);
}
.btn-primary:hover {
   background-color: #4EBFB4;

}

/*parte 2 de comunidad*/
.personas-descoordenados {
   margin:5%;
   background-color: #fff;
   border-radius: 20px;
   width:100%;

   font-family: 'work sans';
   font-size: 16px;
   
}

.personas-descoordenados img { 
   padding: 20px;
   width: 300px;
   height: auto;
   overflow-x: hidden;
   border-radius: 35%;

}

.personas-descoordenados p {
   color: #666;
   font-family: 'raleway';
   font-size: 16px;
   line-height: 1.5;
   margin:20px;
   text-align: justify;

} 

.personas-descoordenados a {
   text-decoration: none;
}

.personas-descoordenados:hover{ 
   filter: opacity(0.9);
   transform: scale(1.04);
}
