/*para títulos h1*/

/* mobile */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}

  /* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 46px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}

  /* desktop */
@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 70px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}


/*media query de cards index*/

@media screen and (max-width: 767px) {
    .card {
        width: 75%;
        margin: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 30%;
    }
}


/*******
query de top 3
******/
@media screen and (max-width: 767px) {

    .cards-container-type2 { 
        display: flex;
        flex-direction: column;
    }

    .card-type2 {
        width: 75%;
        margin: 15px;
        overflow:hidden
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .cards-container-type2 { 
        display: flex;
        flex-wrap: wrap;
        
    }

    .card-type2 {
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .card-type2 {
        width: 30%;
    }
}


/*******
query de galeria
******/
@media screen and (max-width: 767px) {
    .gallery-heading {
        font-size: 1,5rem;
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.gallery-heading {
    font-size: 2rem;
    margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .gallery-heading {
        font-size: 3rem;
        margin-top: auto;
    }
}

/* mediaquerie para comunidad*/
@media screen and (min-width: 300px) and (max-width: 920px) {

    .cards-container-type3 { 
        display: flex;
        flex-wrap: wrap;
    }

    .card-type3 {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .card-type3 {
        width: 50%;
    }
}
