* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}




/*/ ESTILOS DE FONDO DEL MAIN/*/

/*/comparte con CARDS/*/

.green-block {
    background:#44A66E;
    width:100%;
    padding:7% ;
}


.green-block p {
    font-family: 'raleway';
    font-weight: normal;
    font-size: 20px;
    text-align:justify;
    color:#fff;
    line-height: 1.5;
}

/*/  comparte con CARDS/*/
.white-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    width:100%;
    margin-top: 20px;
    padding:7% 20% 10% 20%;
    color:#4EBF56;
    
}

.white-block p {
    flex-direction: column;
    font-size:20px;
    font-family:'Raleway';
    text-align: justify;
    color:#4EBF56;
    line-height: 1.5;
    padding-top: 15px;
}

.white-block-index img {
    padding: 30px;
    margin:10px;
    border-radius: 5%;
}



/*******************
*   media querys   *
*******************/

/*para títulos h1*/

/* mobile */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}

  /* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 46px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}

  /* desktop */
@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 70px;
        color:#D91828;
        font-family: 'raleway';
        font-weight: normal;
        text-align:center;
        line-height: 1.5;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
}
