/*/ SEZGOS /*/

/*/  sezgo dir\ /*/

.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #44A66E 49%, #fff 50%); 
}


/*/ SEZGO dir/ /*/

.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left top , #44A66E 49%, #fff 50%)
}


